<div class="container">
  <mat-card-header>
    <mat-card-title>Recent Transactions</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cards-container">
    <!-- Added class to content -->
    <mat-card class="square-card">
      <mat-card-content>
        <mat-card-title>hi</mat-card-title>
      </mat-card-content>
    </mat-card>
    <mat-card class="square-card">
      <mat-card-content>
        <mat-card-title>hello</mat-card-title>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</div>
