<div class="content">
  <div class="sidebar">
    <app-side-bar></app-side-bar>
  </div>
  <div class="body">
    <div class="header"><app-header></app-header></div>
    <div class="main-container">
      <div class="card accounts">Accounts Information</div>

      <div class="card chart"><app-chart></app-chart></div>
      <div class="card recent">
        <app-recent-transaction></app-recent-transaction>
      </div>
      <div class="card change-account">
        <app-bank-account></app-bank-account>
      </div>
      <div class="card quick-transaction">
        <app-new-transaction></app-new-transaction>
      </div>
    </div>
  </div>
</div>
