<div class="content">
  <div class="sidebar">
    <app-side-bar></app-side-bar>
  </div>
  <div class="body">
    <div class="header"><app-header></app-header></div>
    <div class="main-container">
      <mat-card class="accounts">Accounts Information</mat-card>
      <mat-card class="chart"><app-chart></app-chart></mat-card>
      <mat-card class="recent">
        <app-recent-transaction></app-recent-transaction>
      </mat-card>
      <mat-card class="change-account">
        <app-bank-account></app-bank-account>
      </mat-card>
      <mat-card class="quick-transaction">
        <app-new-transaction></app-new-transaction>
      </mat-card>
    </div>
  </div>
</div>
